In [6]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

# read to DataFrame
df = pd.read_sql("""
    SELECT  * FROM dbo.Employees
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

print('------------------------------------------------------')
df = pd.read_sql("""
    SELECT  * FROM orders
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)
print('\n')
print('------------------------------------------------------')


conn.close()

   EmployeeID   LastName FirstName                     Title TitleOfCourtesy  BirthDate   HireDate                           Address      City Region PostalCode Country       HomePhone Extension                                              Photo                                              Notes  ReportsTo                               PhotoPath
0           1    Davolio     Nancy      Sales Representative             Ms. 1948-12-08 1992-05-01     507 - 20th Ave. E.\r\nApt. 2A   Seattle     WA      98122     USA  (206) 555-9857      5467  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Education includes a BA in psychology from Col...        2.0    http://accweb/emmployees/davolio.bmp
1           2     Fuller    Andrew     Vice President, Sales             Dr. 1952-02-19 1992-08-14                908 W. Capital Way    Tacoma     WA      98401     USA  (206) 555-9482      3457  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Andrew received his BTS commercial in 1974 and...        NaN     http://accweb/emmployees/fuller.bmp
2           3  Leverling     Janet      Sales Representative             Ms. 1963-08-30 1992-04-01                722 Moss Bay Blvd.  Kirkland     WA      98033     USA  (206) 555-3412      3355  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Janet has a BS degree in chemistry from Boston...        2.0  http://accweb/emmployees/leverling.bmp
3           4    Peacock  Margaret      Sales Representative            Mrs. 1937-09-19 1993-05-03              4110 Old Redmond Rd.   Redmond     WA      98052     USA  (206) 555-8122      5176  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Margaret holds a BA in English literature from...        2.0    http://accweb/emmployees/peacock.bmp
4           5   Buchanan    Steven             Sales Manager             Mr. 1955-03-04 1993-10-17                   14 Garrett Hill    London   None    SW1 8JR      UK   (71) 555-4848      3453  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Steven Buchanan graduated from St. Andrews Uni...        2.0   http://accweb/emmployees/buchanan.bmp
5           6     Suyama   Michael      Sales Representative             Mr. 1963-07-02 1993-10-17       Coventry House\r\nMiner Rd.    London   None    EC2 7JR      UK   (71) 555-7773       428  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Michael is a graduate of Sussex University (MA...        5.0    http://accweb/emmployees/davolio.bmp
6           7       King    Robert      Sales Representative             Mr. 1960-05-29 1994-01-02  Edgeham Hollow\r\nWinchester Way    London   None    RG1 9SP      UK   (71) 555-5598       465  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Robert King served in the Peace Corps and trav...        5.0    http://accweb/emmployees/davolio.bmp
7           8   Callahan     Laura  Inside Sales Coordinator             Ms. 1958-01-09 1994-03-05             4726 - 11th Ave. N.E.   Seattle     WA      98105     USA  (206) 555-1189      2344  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Laura received a BA in psychology from the Uni...        2.0    http://accweb/emmployees/davolio.bmp
8           9  Dodsworth      Anne      Sales Representative             Ms. 1966-01-27 1994-11-15                 7 Houndstooth Rd.    London   None    WG2 7LT      UK   (71) 555-4444       452  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Anne has a BA degree in English from St. Lawre...        5.0    http://accweb/emmployees/davolio.bmp
------------------------------------------------------
     OrderID CustomerID  EmployeeID  OrderDate RequiredDate ShippedDate  ShipVia  Freight                    ShipName               ShipAddress        ShipCity ShipRegion ShipPostalCode  ShipCountry
0      10248      VINET           5 1996-07-04   1996-08-01  1996-07-16        3    32.38   Vins et alcools Chevalier        59 rue de l'Abbaye           Reims       None          51100       France
1      10249      TOMSP           6 1996-07-05   1996-08-16  1996-07-10        1    11.61          Toms Spezialitäten             Luisenstr. 48         Münster       None          44087      Germany
2      10250      HANAR           4 1996-07-08   1996-08-05  1996-07-12        2    65.83               Hanari Carnes           Rua do Paço, 67  Rio de Janeiro         RJ      05454-876       Brazil
3      10251      VICTE           3 1996-07-08   1996-08-05  1996-07-15        1    41.34        Victuailles en stock        2, rue du Commerce            Lyon       None          69004       France
4      10252      SUPRD           4 1996-07-09   1996-08-06  1996-07-11        2    51.30            Suprêmes délices      Boulevard Tirou, 255       Charleroi       None         B-6000      Belgium
..       ...        ...         ...        ...          ...         ...      ...      ...                         ...                       ...             ...        ...            ...          ...
825    11073      PERIC           2 1998-05-05   1998-06-02         NaT        2    24.95   Pericles Comidas clásicas  Calle Dr. Jorge Cash 321     México D.F.       None          05033       Mexico
826    11074      SIMOB           7 1998-05-06   1998-06-03         NaT        2    18.44               Simons bistro              Vinbæltet 34       Kobenhavn       None           1734      Denmark
827    11075      RICSU           8 1998-05-06   1998-06-03         NaT        2     6.19          Richter Supermarkt               Starenweg 5          Genève       None           1204  Switzerland
828    11076      BONAP           4 1998-05-06   1998-06-03         NaT        2    38.28                    Bon app'      12, rue des Bouchers       Marseille       None          13008       France
829    11077      RATTC           1 1998-05-06   1998-06-03         NaT        2     8.53  Rattlesnake Canyon Grocery           2817 Milton Dr.     Albuquerque         NM          87110          USA

[830 rows x 14 columns]


------------------------------------------------------

C:\Users\ysy\AppData\Local\Temp\ipykernel_15264\2513892339.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""
C:\Users\ysy\AppData\Local\Temp\ipykernel_15264\2513892339.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [ ]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('------------------------------------------------------')
df = pd.read_sql("""
    SELECT e.EmployeeID, e.firstname + ' ' + e.lastname as EmployeeName, o.OrderDate
    FROM dbo.Employees e
    INNER JOIN dbo.Orders o 
    ON e.EmployeeID = o.EmployeeID
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

------------------------------------------------------
     EmployeeID      EmployeeName  OrderDate
0             5   Steven Buchanan 1996-07-04
1             6    Michael Suyama 1996-07-05
2             4  Margaret Peacock 1996-07-08
3             3   Janet Leverling 1996-07-08
4             4  Margaret Peacock 1996-07-09
..          ...               ...        ...
825           2     Andrew Fuller 1998-05-05
826           7       Robert King 1998-05-06
827           8    Laura Callahan 1998-05-06
828           4  Margaret Peacock 1998-05-06
829           1     Nancy Davolio 1998-05-06

[830 rows x 3 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_15264\1287619253.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [12]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('2 get customers information and corresponding order date ------------------------------------------------------')
df = pd.read_sql("""
    select c.CompanyName, c.City, c.country, o.orderdate
    from Customers c 
    inner join orders o 
    on c.CustomerID = o.CustomerID
    order by c.CompanyName
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

2 get customers information and corresponding order date ------------------------------------------------------
             CompanyName      City  country  orderdate
0    Alfreds Futterkiste    Berlin  Germany 1997-08-25
1    Alfreds Futterkiste    Berlin  Germany 1997-10-03
2    Alfreds Futterkiste    Berlin  Germany 1997-10-13
3    Alfreds Futterkiste    Berlin  Germany 1998-01-15
4    Alfreds Futterkiste    Berlin  Germany 1998-03-16
..                   ...       ...      ...        ...
825       Wolski  Zajazd  Warszawa   Poland 1996-12-05
826       Wolski  Zajazd  Warszawa   Poland 1998-02-25
827       Wolski  Zajazd  Warszawa   Poland 1998-02-04
828       Wolski  Zajazd  Warszawa   Poland 1998-04-03
829       Wolski  Zajazd  Warszawa   Poland 1998-04-23

[830 rows x 4 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_15264\1005283253.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [13]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('3 join multiple tables ------------------------------------------------------')
df = pd.read_sql("""
    SELECT e.EmployeeID, e.firstname + ' ' + e.lastname as EmployeeName, o.OrderDate
    from Customers c 
    inner join orders o 
    on c.CustomerID = o.CustomerID
    INNER JOIN dbo.Employees e
    ON e.EmployeeID = o.EmployeeID
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

3 join multiple tables ------------------------------------------------------
     EmployeeID      EmployeeName  OrderDate
0             5   Steven Buchanan 1996-07-04
1             6    Michael Suyama 1996-07-05
2             4  Margaret Peacock 1996-07-08
3             3   Janet Leverling 1996-07-08
4             4  Margaret Peacock 1996-07-09
..          ...               ...        ...
825           2     Andrew Fuller 1998-05-05
826           7       Robert King 1998-05-06
827           8    Laura Callahan 1998-05-06
828           4  Margaret Peacock 1998-05-06
829           1     Nancy Davolio 1998-05-06

[830 rows x 3 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_15264\627592821.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [1]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('4 LEFT OUTER JOIN ------------------------------------------------------')
df = pd.read_sql("""
    SELECT c.ContactName, o.OrderID
    from Customers c 
    left join orders o 
    on c.CustomerID = o.CustomerID
    order by o.OrderID
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

4 LEFT OUTER JOIN ------------------------------------------------------
             ContactName  OrderID
0             Diego Roel      NaN
1         Marie Bertrand      NaN
2           Paul Henriot  10248.0
3          Karin Josephs  10249.0
4           Mario Pontes  10250.0
..                   ...      ...
827  Guillermo Fernández  11073.0
828       Jytte Petersen  11074.0
829         Michael Holz  11075.0
830     Laurence Lebihan  11076.0
831         Paula Wilson  11077.0

[832 rows x 2 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\3731498654.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [2]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('5 RIGHT OUTER JOIN ------------------------------------------------------')
df = pd.read_sql("""
    SELECT c.ContactName, o.OrderID
    from Customers c 
    right join orders o 
    on c.CustomerID = o.CustomerID
    order by o.OrderID
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

5 RIGHT OUTER JOIN ------------------------------------------------------
             ContactName  OrderID
0           Paul Henriot    10248
1          Karin Josephs    10249
2           Mario Pontes    10250
3           Mary Saveley    10251
4       Pascale Cartrain    10252
..                   ...      ...
825  Guillermo Fernández    11073
826       Jytte Petersen    11074
827         Michael Holz    11075
828     Laurence Lebihan    11076
829         Paula Wilson    11077

[830 rows x 2 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\3127356245.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [3]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('6 FULL OUTER JOIN ------------------------------------------------------')
df = pd.read_sql("""
    SELECT c.ContactName, c.Country As CustomerCountry, s.Country as SupplierCountry , s.CompanyName 
    from Customers c 
    full join Suppliers s 
    on c.Country = s.Country
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

6 FULL OUTER JOIN ------------------------------------------------------
        ContactName CustomerCountry SupplierCountry                             CompanyName
0      Maria Anders         Germany         Germany             Heli Süßwaren GmbH & Co. KG
1      Maria Anders         Germany         Germany       Plutzer Lebensmittelgroßmärkte AG
2      Maria Anders         Germany         Germany  Nord-Ost-Fisch Handelsgesellschaft mbH
3      Ana Trujillo          Mexico            None                                    None
4    Antonio Moreno          Mexico            None                                    None
..              ...             ...             ...                                     ...
190            None            None       Australia                           Pavlova, Ltd.
191            None            None       Australia                             G'day, Mate
192            None            None           Japan                           Tokyo Traders
193            None            None           Japan                                Mayumi's
194            None            None       Singapore                            Leka Trading

[195 rows x 4 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\564688614.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [ ]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('7 CROSS JOIN ------------------------------------------------------')
df = pd.read_sql("""
    SELECT * from Customers cross join orders
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

6 FULL OUTER JOIN ------------------------------------------------------

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\2586574864.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

      CustomerID          CompanyName              ContactName          ContactTitle          Address      City Region PostalCode  Country          Phone            Fax  OrderID CustomerID  EmployeeID  OrderDate RequiredDate ShippedDate  ShipVia  Freight                    ShipName               ShipAddress        ShipCity ShipRegion ShipPostalCode  ShipCountry
0          ALFKI  Alfreds Futterkiste             Maria Anders  Sales Representative    Obere Str. 57    Berlin   None      12209  Germany    030-0074321    030-0076545    10248      VINET           5 1996-07-04   1996-08-01  1996-07-16        3    32.38   Vins et alcools Chevalier        59 rue de l'Abbaye           Reims       None          51100       France
1          ALFKI  Alfreds Futterkiste             Maria Anders  Sales Representative    Obere Str. 57    Berlin   None      12209  Germany    030-0074321    030-0076545    10249      TOMSP           6 1996-07-05   1996-08-16  1996-07-10        1    11.61          Toms Spezialitäten             Luisenstr. 48         Münster       None          44087      Germany
2          ALFKI  Alfreds Futterkiste             Maria Anders  Sales Representative    Obere Str. 57    Berlin   None      12209  Germany    030-0074321    030-0076545    10250      HANAR           4 1996-07-08   1996-08-05  1996-07-12        2    65.83               Hanari Carnes           Rua do Paço, 67  Rio de Janeiro         RJ      05454-876       Brazil
3          ALFKI  Alfreds Futterkiste             Maria Anders  Sales Representative    Obere Str. 57    Berlin   None      12209  Germany    030-0074321    030-0076545    10251      VICTE           3 1996-07-08   1996-08-05  1996-07-15        1    41.34        Victuailles en stock        2, rue du Commerce            Lyon       None          69004       France
4          ALFKI  Alfreds Futterkiste             Maria Anders  Sales Representative    Obere Str. 57    Berlin   None      12209  Germany    030-0074321    030-0076545    10252      SUPRD           4 1996-07-09   1996-08-06  1996-07-11        2    51.30            Suprêmes délices      Boulevard Tirou, 255       Charleroi       None         B-6000      Belgium
...          ...                  ...                      ...                   ...              ...       ...    ...        ...      ...            ...            ...      ...        ...         ...        ...          ...         ...      ...      ...                         ...                       ...             ...        ...            ...          ...
75525      WOLZA       Wolski  Zajazd  Zbyszek Piestrzeniewicz                 Owner  ul. Filtrowa 68  Warszawa   None     01-012   Poland  (26) 642-7012  (26) 642-7012    11073      PERIC           2 1998-05-05   1998-06-02         NaT        2    24.95   Pericles Comidas clásicas  Calle Dr. Jorge Cash 321     México D.F.       None          05033       Mexico
75526      WOLZA       Wolski  Zajazd  Zbyszek Piestrzeniewicz                 Owner  ul. Filtrowa 68  Warszawa   None     01-012   Poland  (26) 642-7012  (26) 642-7012    11074      SIMOB           7 1998-05-06   1998-06-03         NaT        2    18.44               Simons bistro              Vinbæltet 34       Kobenhavn       None           1734      Denmark
75527      WOLZA       Wolski  Zajazd  Zbyszek Piestrzeniewicz                 Owner  ul. Filtrowa 68  Warszawa   None     01-012   Poland  (26) 642-7012  (26) 642-7012    11075      RICSU           8 1998-05-06   1998-06-03         NaT        2     6.19          Richter Supermarkt               Starenweg 5          Genève       None           1204  Switzerland
75528      WOLZA       Wolski  Zajazd  Zbyszek Piestrzeniewicz                 Owner  ul. Filtrowa 68  Warszawa   None     01-012   Poland  (26) 642-7012  (26) 642-7012    11076      BONAP           4 1998-05-06   1998-06-03         NaT        2    38.28                    Bon app'      12, rue des Bouchers       Marseille       None          13008       France
75529      WOLZA       Wolski  Zajazd  Zbyszek Piestrzeniewicz                 Owner  ul. Filtrowa 68  Warszawa   None     01-012   Poland  (26) 642-7012  (26) 642-7012    11077      RATTC           1 1998-05-06   1998-06-03         NaT        2     8.53  Rattlesnake Canyon Grocery           2817 Milton Dr.     Albuquerque         NM          87110          USA

[75530 rows x 25 columns]

In [14]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('8 SELF JOIN ------------------------------------------------------')
df = pd.read_sql("""
SELECT 
    e.firstname + ' ' + e.Lastname As Employee,
    m.firstname + ' ' + m.Lastname as Manager
FROM 
    Employees e
INNER JOIN 
    Employees m
ON 
    e.ReportsTo = m.EmployeeID
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

8 SELF JOIN ------------------------------------------------------
           Employee          Manager
0     Nancy Davolio    Andrew Fuller
1   Janet Leverling    Andrew Fuller
2  Margaret Peacock    Andrew Fuller
3   Steven Buchanan    Andrew Fuller
4    Michael Suyama  Steven Buchanan
5       Robert King  Steven Buchanan
6    Laura Callahan    Andrew Fuller
7    Anne Dodsworth  Steven Buchanan

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\1124633081.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [15]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('9 SELF LEFT JOIN ------------------------------------------------------')
df = pd.read_sql("""
SELECT 
    e.firstname + ' ' + e.Lastname As Employee,
    isnull(m.firstname + ' ' + m.Lastname, 'N/A') as Manager
FROM 
    Employees e
LEFT JOIN 
    Employees m
ON 
    e.ReportsTo = m.EmployeeID
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

9 SELF LEFT JOIN ------------------------------------------------------
           Employee          Manager
0     Nancy Davolio    Andrew Fuller
1     Andrew Fuller              N/A
2   Janet Leverling    Andrew Fuller
3  Margaret Peacock    Andrew Fuller
4   Steven Buchanan    Andrew Fuller
5    Michael Suyama  Steven Buchanan
6       Robert King  Steven Buchanan
7    Laura Callahan    Andrew Fuller
8    Anne Dodsworth  Steven Buchanan

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\3284840277.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [17]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('10 COUNT ------------------------------------------------------')
df = pd.read_sql("""
SELECT 
    count(OrderID) as TotalNumOrders
FROM 
    orders
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

10 COUNT ------------------------------------------------------
   TotalNumOrders
0             830

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\3458563741.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [18]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('11 sum ------------------------------------------------------')
df = pd.read_sql("""
SELECT orderid, sum(UnitPrice * Quantity ) as TotalCost
FROM [Order Details]
GROUP BY orderid
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

11 sum ------------------------------------------------------
     orderid  TotalCost
0      10248      440.0
1      10249     1863.4
2      10250     1813.0
3      10251      670.8
4      10252     3730.0
..       ...        ...
825    11073      300.0
826    11074      244.3
827    11075      586.0
828    11076     1057.0
829    11077     1374.6

[830 rows x 2 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\3660756007.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [ ]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('13 HAVING ------------------------------------------------------')
df = pd.read_sql("""
                SELECT c.CustomerID, count(o.OrderID) 
                FROM Customers c
                INNER JOIN orders o
                ON c.CustomerID = o.CustomerID
                where c.Country = 'USA'
                GROUP BY c.CustomerID
                having count(o.OrderID) > 10
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

13 HAVING ------------------------------------------------------
  CustomerID
0      GREAL  11
1      RATTC  18
2      SAVEA  31
3      WHITC  14

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\1647445476.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [20]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('14 subquery ------------------------------------------------------')
df = pd.read_sql("""
                SELECT ContactName, City
                FROM Customers c
                where city in (
                 select city from Customers where ContactName ='Alejandra Camino')
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

14 subquery ------------------------------------------------------
        ContactName    City
0     Martín Sommer  Madrid
1        Diego Roel  Madrid
2  Alejandra Camino  Madrid

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\2321855945.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [21]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('15 subquery ------------------------------------------------------')
df = pd.read_sql("""
                SELECT ContactName, (
                 SELECT count(*)
                 from orders o
                 where c.CustomerID = o.CustomerID
                 ) as TotalOrders
                from Customers c
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

15 subquery ------------------------------------------------------
                ContactName  TotalOrders
0              Maria Anders            6
1              Ana Trujillo            4
2            Antonio Moreno            7
3              Thomas Hardy           13
4        Christina Berglund           18
..                      ...          ...
86         Pirkko Koskitalo           15
87            Paula Parente            9
88           Karl Jablonski           14
89          Matti Karttunen            7
90  Zbyszek Piestrzeniewicz            7

[91 rows x 2 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\986296127.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [22]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('16 subquery ------------------------------------------------------')
df = pd.read_sql("""
                SELECT ContactName, CustomerID
                from Customers c
                order by (
                    select count(*)
                    from orders o
                    where c.CustomerID = o.CustomerID
                 )
                 desc
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

16 subquery ------------------------------------------------------
         ContactName CustomerID
0     Jose Pavarotti      SAVEA
1      Roland Mendel      ERNSH
2        Horst Kloss      QUICK
3   Patricia McKenna      HUNGO
4      Maria Larsson      FOLKO
..               ...        ...
86    Manuel Pereira      GROSR
87        John Steel      LAZYK
88   Francisco Chang      CENTC
89        Diego Roel      FISSA
90    Marie Bertrand      PARIS

[91 rows x 2 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\3561940706.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [27]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('17 subquery ------------------------------------------------------')
df = pd.read_sql("""
                select CustomerID, count(*) as OrderCount
                from orders 
                group by CustomerID
                having count(*) > (
                    select avg(OrderCount) from (
                        select count(*) as OrderCount 
                        from orders
                        group by CustomerID
                    ) as OrderStats
                 )
                 
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

17 subquery ------------------------------------------------------
   CustomerID  OrderCount
0       AROUT          13
1       BERGS          18
2       BLONP          11
3       BONAP          17
4       BOTTM          14
5       BSBEV          10
6       ERNSH          30
7       FOLKO          19
8       FRANK          15
9       GODOS          10
10      GREAL          11
11      HANAR          14
12      HILAA          18
13      HUNGO          19
14      ISLAT          10
15      KOENE          14
16      LAMAI          14
17      LEHMS          15
18      LILAS          14
19      LINOD          12
20      MAGAA          10
21      MEREP          13
22      OLDWO          10
23      OTTIK          10
24      PICCO          10
25      QUEEN          13
26      QUICK          28
27      RATTC          18
28      REGGC          12
29      RICAR          11
30      RICSU          10
31      SAVEA          31
32      SUPRD          12
33      TORTU          10
34      VAFFE          11
35      VICTE          10
36      WANDK          10
37      WARTH          15
38      WHITC          14

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\2623512515.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [30]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('18 subquery vs join------------------------------------------------------')
df = pd.read_sql("""
                select c.CustomerID, c.ContactName, c.City, c.Country
                from Customers c
                left join orders o
                on  c.CustomerID =  o.CustomerID
                where o.OrderID is null
                 
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

18 subquery vs join------------------------------------------------------
  CustomerID     ContactName    City Country
0      FISSA      Diego Roel  Madrid   Spain
1      PARIS  Marie Bertrand   Paris  France

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\1586500863.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [31]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('18 subquery vs join , 2 subquery------------------------------------------------------')
df = pd.read_sql("""
                select c.CustomerID, c.ContactName, c.City, c.Country
                from Customers c
                where c.CustomerID not in (
                    select o.CustomerID from orders o)
                 
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

18 subquery vs join , 2 subquery------------------------------------------------------
  CustomerID     ContactName    City Country
0      FISSA      Diego Roel  Madrid   Spain
1      PARIS  Marie Bertrand   Paris  France

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\607515298.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [32]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('19 Union------------------------------------------------------')
df = pd.read_sql("""
                select city, country
                from Customers c
                 union
                select city, country
                from employees e
                 order by city
                
                 
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

19 Union------------------------------------------------------
           city  country
0        Aachen  Germany
1   Albuquerque      USA
2     Anchorage      USA
3         Århus  Denmark
4     Barcelona    Spain
..          ...      ...
66    Tsawassen   Canada
67    Vancouver   Canada
68   Versailles   France
69  Walla Walla      USA
70     Warszawa   Poland

[71 rows x 2 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\815782701.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [33]:
# import pyodbc
# import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

print('19 Union------------------------------------------------------')
df = pd.read_sql("""
                select city, country
                from Customers c
                 union all
                select city, country
                from employees e
                 order by city
                
                 
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

19 Union------------------------------------------------------
           city  country
0        Aachen  Germany
1   Albuquerque      USA
2     Anchorage      USA
3         Århus  Denmark
4     Barcelona    Spain
..          ...      ...
95    Tsawassen   Canada
96    Vancouver   Canada
97   Versailles   France
98  Walla Walla      USA
99     Warszawa   Poland

[100 rows x 2 columns]

C:\Users\ysy\AppData\Local\Temp\ipykernel_11524\2049630711.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""