In [7]:
pip install pyodbc sqlalchemy

Requirement already satisfied: pyodbc in c:\users\ysy\miniconda3\lib\site-packages (5.2.0)
Requirement already satisfied: sqlalchemy in c:\users\ysy\miniconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\ysy\miniconda3\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ysy\miniconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pyodbc
import re
from datetime import datetime

def execute_sql_batches(sql_file_path, batch_size=100):
    start_time = datetime.now()
    print(f"Execution started at: {start_time}")
    
    try:
        # 连接字符串
        conn = pyodbc.connect(
            'DRIVER={ODBC Driver 17 for SQL Server};'
            'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
            'DATABASE=master;'
            'Trusted_Connection=yes;'
        )
        cursor = conn.cursor()

        # 读取 SQL 文件
        with open(sql_file_path, 'r', encoding='utf-8-sig') as f:
            sql_script = f.read()
        
        # 分割批次
        batches = [batch.strip() for batch in re.split(r'\bGO\b', sql_script, flags=re.IGNORECASE) if batch.strip()]
        total_batches = len(batches)
        
        print(f"Total batches to execute: {total_batches}")
        
        successful_batches = 0
        failed_batches = 0
        
        for i, batch in enumerate(batches, 1):
            try:
                if i % batch_size == 0 or i == total_batches:
                    print(f"Processing batch {i}/{total_batches}...")
                
                cursor.execute(batch)
                conn.commit()
                successful_batches += 1
                
            except pyodbc.Error as e:
                failed_batches += 1
                print(f"\nError in batch {i}:")
                print(f"SQL Error: {e}")
                print(f"Problematic SQL (first 200 chars):\n{batch[:200]}...")
                conn.rollback()
                
                # Optionally continue with next batch instead of breaking
                # continue
                # Or break if you want to stop on first error
                break

        end_time = datetime.now()
        duration = end_time - start_time
        
        print("\nExecution Summary:")
        print(f"Total batches: {total_batches}")
        print(f"Successful batches: {successful_batches}")
        print(f"Failed batches: {failed_batches}")
        print(f"Time elapsed: {duration}")
        
        return successful_batches == total_batches

    except Exception as e:
        print(f"Fatal error: {e}")
        return False
    finally:
        if 'conn' in locals():
            conn.close()

# 使用示例
if __name__ == "__main__":
    result = execute_sql_batches('instnwnd.sql', batch_size=50)
    print("Script completed successfully!" if result else "Script completed with errors")

Execution started at: 2025-09-05 23:59:58.672162
Total batches to execute: 402
Processing batch 50/402...
Processing batch 100/402...
Processing batch 150/402...
Processing batch 200/402...
Processing batch 250/402...
Processing batch 300/402...
Processing batch 350/402...
Processing batch 400/402...
Processing batch 402/402...

Execution Summary:
Total batches: 402
Successful batches: 402
Failed batches: 0
Time elapsed: 0:00:00.697656
Script completed successfully!

In [16]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.2-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ysy\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ysy\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.2-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ------------- -------------------------- 3.7/11.0 MB 22.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 28.3 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 26.5 MB/s eta 0:00:00
Downloading numpy-2.3.2-cp313-cp313-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   ----------------------- ---------------- 7.6/12.8 MB 35.1 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 33.1 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ---------------------------------------- 4/4 [pandas]

Successfully installed numpy-2.3.2 pandas-2.3.2 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /packages/22/3c/f2af1ce8840ef648584a6156489636b5692c162771918aa95707c165ad2b/pandas-2.3.2-cp313-cp313-win_amd64.whl.metadata

In [ ]:
import pyodbc
import pandas as pd

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

# read to DataFrame
df = pd.read_sql("""
    SELECT TOP 3 * FROM dbo.Employees
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

   EmployeeID   LastName FirstName                  Title TitleOfCourtesy  BirthDate   HireDate                        Address      City Region PostalCode Country       HomePhone Extension                                              Photo                                              Notes  ReportsTo                               PhotoPath
0           1    Davolio     Nancy   Sales Representative             Ms. 1948-12-08 1992-05-01  507 - 20th Ave. E.\r\nApt. 2A   Seattle     WA      98122     USA  (206) 555-9857      5467  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Education includes a BA in psychology from Col...        2.0    http://accweb/emmployees/davolio.bmp
1           2     Fuller    Andrew  Vice President, Sales             Dr. 1952-02-19 1992-08-14             908 W. Capital Way    Tacoma     WA      98401     USA  (206) 555-9482      3457  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Andrew received his BTS commercial in 1974 and...        NaN     http://accweb/emmployees/fuller.bmp
2           3  Leverling     Janet   Sales Representative             Ms. 1963-08-30 1992-04-01             722 Moss Bay Blvd.  Kirkland     WA      98033     USA  (206) 555-3412      3355  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Janet has a BS degree in chemistry from Boston...        2.0  http://accweb/emmployees/leverling.bmp

C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\2931652172.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [5]:
import pyodbc
import pandas as pd
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

# read to DataFrame
df = pd.read_sql("""SELECT EmployeeID, LastName, FirstName FROM dbo.Employees
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

   EmployeeID   LastName FirstName
0           1    Davolio     Nancy
1           2     Fuller    Andrew
2           3  Leverling     Janet
3           4    Peacock  Margaret
4           5   Buchanan    Steven
5           6     Suyama   Michael
6           7       King    Robert
7           8   Callahan     Laura
8           9  Dodsworth      Anne

C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\3253942945.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""SELECT EmployeeID, LastName, FirstName FROM dbo.Employees

In [11]:
import pyodbc
import pandas as pd
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)
df = pd.read_sql("""
                 SELECT * FROM dbo.Employees
                 """, conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

df2 = pd.read_sql("""
                 SELECT * FROM Employees
                 """, conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df2)

conn.close()

   EmployeeID   LastName FirstName                     Title TitleOfCourtesy  BirthDate   HireDate                           Address      City Region PostalCode Country       HomePhone Extension                                              Photo                                              Notes  ReportsTo                               PhotoPath
0           1    Davolio     Nancy      Sales Representative             Ms. 1948-12-08 1992-05-01     507 - 20th Ave. E.\r\nApt. 2A   Seattle     WA      98122     USA  (206) 555-9857      5467  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Education includes a BA in psychology from Col...        2.0    http://accweb/emmployees/davolio.bmp
1           2     Fuller    Andrew     Vice President, Sales             Dr. 1952-02-19 1992-08-14                908 W. Capital Way    Tacoma     WA      98401     USA  (206) 555-9482      3457  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Andrew received his BTS commercial in 1974 and...        NaN     http://accweb/emmployees/fuller.bmp
2           3  Leverling     Janet      Sales Representative             Ms. 1963-08-30 1992-04-01                722 Moss Bay Blvd.  Kirkland     WA      98033     USA  (206) 555-3412      3355  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Janet has a BS degree in chemistry from Boston...        2.0  http://accweb/emmployees/leverling.bmp
3           4    Peacock  Margaret      Sales Representative            Mrs. 1937-09-19 1993-05-03              4110 Old Redmond Rd.   Redmond     WA      98052     USA  (206) 555-8122      5176  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Margaret holds a BA in English literature from...        2.0    http://accweb/emmployees/peacock.bmp
4           5   Buchanan    Steven             Sales Manager             Mr. 1955-03-04 1993-10-17                   14 Garrett Hill    London   None    SW1 8JR      UK   (71) 555-4848      3453  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Steven Buchanan graduated from St. Andrews Uni...        2.0   http://accweb/emmployees/buchanan.bmp
5           6     Suyama   Michael      Sales Representative             Mr. 1963-07-02 1993-10-17       Coventry House\r\nMiner Rd.    London   None    EC2 7JR      UK   (71) 555-7773       428  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Michael is a graduate of Sussex University (MA...        5.0    http://accweb/emmployees/davolio.bmp
6           7       King    Robert      Sales Representative             Mr. 1960-05-29 1994-01-02  Edgeham Hollow\r\nWinchester Way    London   None    RG1 9SP      UK   (71) 555-5598       465  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Robert King served in the Peace Corps and trav...        5.0    http://accweb/emmployees/davolio.bmp
7           8   Callahan     Laura  Inside Sales Coordinator             Ms. 1958-01-09 1994-03-05             4726 - 11th Ave. N.E.   Seattle     WA      98105     USA  (206) 555-1189      2344  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Laura received a BA in psychology from the Uni...        2.0    http://accweb/emmployees/davolio.bmp
8           9  Dodsworth      Anne      Sales Representative             Ms. 1966-01-27 1994-11-15                 7 Houndstooth Rd.    London   None    WG2 7LT      UK   (71) 555-4444       452  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Anne has a BA degree in English from St. Lawre...        5.0    http://accweb/emmployees/davolio.bmp
   EmployeeID   LastName FirstName                     Title TitleOfCourtesy  BirthDate   HireDate                           Address      City Region PostalCode Country       HomePhone Extension                                              Photo                                              Notes  ReportsTo                               PhotoPath
0           1    Davolio     Nancy      Sales Representative             Ms. 1948-12-08 1992-05-01     507 - 20th Ave. E.\r\nApt. 2A   Seattle     WA      98122     USA  (206) 555-9857      5467  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Education includes a BA in psychology from Col...        2.0    http://accweb/emmployees/davolio.bmp
1           2     Fuller    Andrew     Vice President, Sales             Dr. 1952-02-19 1992-08-14                908 W. Capital Way    Tacoma     WA      98401     USA  (206) 555-9482      3457  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Andrew received his BTS commercial in 1974 and...        NaN     http://accweb/emmployees/fuller.bmp
2           3  Leverling     Janet      Sales Representative             Ms. 1963-08-30 1992-04-01                722 Moss Bay Blvd.  Kirkland     WA      98033     USA  (206) 555-3412      3355  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Janet has a BS degree in chemistry from Boston...        2.0  http://accweb/emmployees/leverling.bmp
3           4    Peacock  Margaret      Sales Representative            Mrs. 1937-09-19 1993-05-03              4110 Old Redmond Rd.   Redmond     WA      98052     USA  (206) 555-8122      5176  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Margaret holds a BA in English literature from...        2.0    http://accweb/emmployees/peacock.bmp
4           5   Buchanan    Steven             Sales Manager             Mr. 1955-03-04 1993-10-17                   14 Garrett Hill    London   None    SW1 8JR      UK   (71) 555-4848      3453  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Steven Buchanan graduated from St. Andrews Uni...        2.0   http://accweb/emmployees/buchanan.bmp
5           6     Suyama   Michael      Sales Representative             Mr. 1963-07-02 1993-10-17       Coventry House\r\nMiner Rd.    London   None    EC2 7JR      UK   (71) 555-7773       428  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Michael is a graduate of Sussex University (MA...        5.0    http://accweb/emmployees/davolio.bmp
6           7       King    Robert      Sales Representative             Mr. 1960-05-29 1994-01-02  Edgeham Hollow\r\nWinchester Way    London   None    RG1 9SP      UK   (71) 555-5598       465  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Robert King served in the Peace Corps and trav...        5.0    http://accweb/emmployees/davolio.bmp
7           8   Callahan     Laura  Inside Sales Coordinator             Ms. 1958-01-09 1994-03-05             4726 - 11th Ave. N.E.   Seattle     WA      98105     USA  (206) 555-1189      2344  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Laura received a BA in psychology from the Uni...        2.0    http://accweb/emmployees/davolio.bmp
8           9  Dodsworth      Anne      Sales Representative             Ms. 1966-01-27 1994-11-15                 7 Houndstooth Rd.    London   None    WG2 7LT      UK   (71) 555-4444       452  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Anne has a BA degree in English from St. Lawre...        5.0    http://accweb/emmployees/davolio.bmp

C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\2084663549.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""
C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\2084663549.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql("""

In [ ]:
import pyodbc
import pandas as pd
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

# read to DataFrame
df = pd.read_sql("""
                 SELECT distinct City  FROM dbo.Employees
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print('distinct City')
print(df)
print('\n')
print ('-------------------')
print('distinct Country')
# read to DataFrame
df = pd.read_sql("""
                 SELECT distinct Country  FROM dbo.Employees
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

print('\n')
print ('-------------------')
print('distinct postalcode, country')
# read to DataFrame
df = pd.read_sql("""
                 SELECT distinct postalcode,country  FROM dbo.Employees
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)


conn.close()

distinct City
       City
0  Kirkland
1    London
2   Redmond
3   Seattle
4    Tacoma
-------------------
distinct Country
  Country
0      UK
1     USA


-------------------
distinct postalcode, country
  postalcode country
0      98033     USA
1      98052     USA
2      98105     USA
3      98122     USA
4      98401     USA
5    EC2 7JR      UK
6    RG1 9SP      UK
7    SW1 8JR      UK
8    WG2 7LT      UK

C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\838128117.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""
C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\838128117.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""
C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\838128117.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [ ]:
import pyodbc
import pandas as pd
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

# read to DataFrame
df = pd.read_sql("""
                 SELECT distinct postalcode + ' '+ Country  FROM dbo.Employees
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print('distinct postalcode, country')
print(df)
print('\n')
print ('-------------------')
print('distinct postalcode and country')
# read to DataFrame
df = pd.read_sql("""
                 SELECT distinct postalcode + ' ' + Country as 'Postal Code and Country' From dbo.Employees
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)
conn.close()

distinct postalcode, country

0   98033 USA
1   98052 USA
2   98105 USA
3   98122 USA
4   98401 USA
5  EC2 7JR UK
6  RG1 9SP UK
7  SW1 8JR UK
8  WG2 7LT UK
-------------------
distinct postalcode and country
  Postal Code and Country
0               98033 USA
1               98052 USA
2               98105 USA
3               98122 USA
4               98401 USA
5              EC2 7JR UK
6              RG1 9SP UK
7              SW1 8JR UK
8              WG2 7LT UK

C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\3782345982.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""
C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\3782345982.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [27]:
import pyodbc

conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

df = pd.read_sql("""
                    DECLARE @today DATETIME
                    SELECT @today = GETDATE()
                    SELECT @today
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)
print ('-------------------')
# second variable

df = pd.read_sql("""
                    DECLARE @tod#ay2 DATETIME
                    SELECT @tod#ay2 = GETDATE()
                    SELECT @tod#ay2
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(df)

conn.close()

0 2025-09-06 00:54:59.347
-------------------

0 2025-09-06 00:54:59.350

C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\1063101689.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""
C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\1063101689.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [32]:
import pyodbc
import pandas as pd
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

# read to DataFrame
df = pd.read_sql("""
                 SELECT FirstName as [First \t Name] FROM dbo.Employees
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

print(df)
print('\n')
print ('-------------------')
print('')
df = pd.read_sql("""
                 SELECT FirstName as "First \n Name" FROM dbo.Employees
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

print(df)

conn.close()

  First \t Name
0         Nancy
1        Andrew
2         Janet
3      Margaret
4        Steven
5       Michael
6        Robert
7         Laura
8          Anne


-------------------

  First \n Name
0         Nancy
1        Andrew
2         Janet
3      Margaret
4        Steven
5       Michael
6        Robert
7         Laura
8          Anne

C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\1022755623.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""
C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\1022755623.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [36]:
import pyodbc
import pandas as pd
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

# read to DataFrame
df = pd.read_sql("""
                 SELECT * FROM dbo.Employees where EmployeeID >3
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print('EmployeeID >3')
print(df)
print('\n')
print ('-------------------')
print('BirthDate > 1948-12-08')
df = pd.read_sql("""
                 SELECT * FROM dbo.Employees where BirthDate > '1948-12-08'
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

print(df)
print ('-------------------')
print(' Country != USA')
df = pd.read_sql("""
                 SELECT * FROM dbo.Employees where Country <> 'USA'
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

print(df)


conn.close()

EmployeeID >3
   EmployeeID   LastName FirstName                     Title TitleOfCourtesy  BirthDate   HireDate                           Address     City Region PostalCode Country       HomePhone Extension                                              Photo                                              Notes  ReportsTo                              PhotoPath
0           4    Peacock  Margaret      Sales Representative            Mrs. 1937-09-19 1993-05-03              4110 Old Redmond Rd.  Redmond     WA      98052     USA  (206) 555-8122      5176  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Margaret holds a BA in English literature from...          2   http://accweb/emmployees/peacock.bmp
1           5   Buchanan    Steven             Sales Manager             Mr. 1955-03-04 1993-10-17                   14 Garrett Hill   London   None    SW1 8JR      UK   (71) 555-4848      3453  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Steven Buchanan graduated from St. Andrews Uni...          2  http://accweb/emmployees/buchanan.bmp
2           6     Suyama   Michael      Sales Representative             Mr. 1963-07-02 1993-10-17       Coventry House\r\nMiner Rd.   London   None    EC2 7JR      UK   (71) 555-7773       428  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Michael is a graduate of Sussex University (MA...          5   http://accweb/emmployees/davolio.bmp
3           7       King    Robert      Sales Representative             Mr. 1960-05-29 1994-01-02  Edgeham Hollow\r\nWinchester Way   London   None    RG1 9SP      UK   (71) 555-5598       465  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Robert King served in the Peace Corps and trav...          5   http://accweb/emmployees/davolio.bmp
4           8   Callahan     Laura  Inside Sales Coordinator             Ms. 1958-01-09 1994-03-05             4726 - 11th Ave. N.E.  Seattle     WA      98105     USA  (206) 555-1189      2344  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Laura received a BA in psychology from the Uni...          2   http://accweb/emmployees/davolio.bmp
5           9  Dodsworth      Anne      Sales Representative             Ms. 1966-01-27 1994-11-15                 7 Houndstooth Rd.   London   None    WG2 7LT      UK   (71) 555-4444       452  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Anne has a BA degree in English from St. Lawre...          5   http://accweb/emmployees/davolio.bmp


-------------------
BirthDate > 1948-12-08
   EmployeeID   LastName FirstName                     Title TitleOfCourtesy  BirthDate   HireDate                           Address      City Region PostalCode Country       HomePhone Extension                                              Photo                                              Notes  ReportsTo                               PhotoPath
0           2     Fuller    Andrew     Vice President, Sales             Dr. 1952-02-19 1992-08-14                908 W. Capital Way    Tacoma     WA      98401     USA  (206) 555-9482      3457  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Andrew received his BTS commercial in 1974 and...        NaN     http://accweb/emmployees/fuller.bmp
1           3  Leverling     Janet      Sales Representative             Ms. 1963-08-30 1992-04-01                722 Moss Bay Blvd.  Kirkland     WA      98033     USA  (206) 555-3412      3355  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Janet has a BS degree in chemistry from Boston...        2.0  http://accweb/emmployees/leverling.bmp
2           5   Buchanan    Steven             Sales Manager             Mr. 1955-03-04 1993-10-17                   14 Garrett Hill    London   None    SW1 8JR      UK   (71) 555-4848      3453  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Steven Buchanan graduated from St. Andrews Uni...        2.0   http://accweb/emmployees/buchanan.bmp
3           6     Suyama   Michael      Sales Representative             Mr. 1963-07-02 1993-10-17       Coventry House\r\nMiner Rd.    London   None    EC2 7JR      UK   (71) 555-7773       428  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Michael is a graduate of Sussex University (MA...        5.0    http://accweb/emmployees/davolio.bmp
4           7       King    Robert      Sales Representative             Mr. 1960-05-29 1994-01-02  Edgeham Hollow\r\nWinchester Way    London   None    RG1 9SP      UK   (71) 555-5598       465  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Robert King served in the Peace Corps and trav...        5.0    http://accweb/emmployees/davolio.bmp
5           8   Callahan     Laura  Inside Sales Coordinator             Ms. 1958-01-09 1994-03-05             4726 - 11th Ave. N.E.   Seattle     WA      98105     USA  (206) 555-1189      2344  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Laura received a BA in psychology from the Uni...        2.0    http://accweb/emmployees/davolio.bmp
6           9  Dodsworth      Anne      Sales Representative             Ms. 1966-01-27 1994-11-15                 7 Houndstooth Rd.    London   None    WG2 7LT      UK   (71) 555-4444       452  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Anne has a BA degree in English from St. Lawre...        5.0    http://accweb/emmployees/davolio.bmp
-------------------
 Country != USA
   EmployeeID   LastName FirstName                 Title TitleOfCourtesy  BirthDate   HireDate                           Address    City Region PostalCode Country      HomePhone Extension                                              Photo                                              Notes  ReportsTo                              PhotoPath
0           5   Buchanan    Steven         Sales Manager             Mr. 1955-03-04 1993-10-17                   14 Garrett Hill  London   None    SW1 8JR      UK  (71) 555-4848      3453  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Steven Buchanan graduated from St. Andrews Uni...          2  http://accweb/emmployees/buchanan.bmp
1           6     Suyama   Michael  Sales Representative             Mr. 1963-07-02 1993-10-17       Coventry House\r\nMiner Rd.  London   None    EC2 7JR      UK  (71) 555-7773       428  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Michael is a graduate of Sussex University (MA...          5   http://accweb/emmployees/davolio.bmp
2           7       King    Robert  Sales Representative             Mr. 1960-05-29 1994-01-02  Edgeham Hollow\r\nWinchester Way  London   None    RG1 9SP      UK  (71) 555-5598       465  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Robert King served in the Peace Corps and trav...          5   http://accweb/emmployees/davolio.bmp
3           9  Dodsworth      Anne  Sales Representative             Ms. 1966-01-27 1994-11-15                 7 Houndstooth Rd.  London   None    WG2 7LT      UK  (71) 555-4444       452  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...  Anne has a BA degree in English from St. Lawre...          5   http://accweb/emmployees/davolio.bmp

C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\2630615203.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""
C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\2630615203.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""
C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\2630615203.py:34: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

In [38]:

import pyodbc
import pandas as pd
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=DESKTOP-VHHBRU7\\SQLEXPRESS;'
    'DATABASE=Northwind;'
    'Trusted_Connection=yes;'
)

# read to DataFrame
df = pd.read_sql("""
                 select * from Products where UnitPrice between 20 and 30
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print('UnitPrice between 20 and 30')
print(df)
print('\n')



print ('-------------------')
print('UnitPrice >= 20 AND UnitPrice <= 30')
df = pd.read_sql("""
                 select * from Products where  UnitPrice >= 20 AND UnitPrice <= 30
""", conn)

# all columns, no line wrapping
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

print(df)




conn.close()

UnitPrice between 20 and 30
    ProductID                       ProductName  SupplierID  CategoryID      QuantityPerUnit  UnitPrice  UnitsInStock  UnitsOnOrder  ReorderLevel  Discontinued
0           4      Chef Anton's Cajun Seasoning           2           2       48 - 6 oz jars      22.00            53             0             0         False
1           5            Chef Anton's Gumbo Mix           2           2             36 boxes      21.35             0             0             0          True
2           6      Grandma's Boysenberry Spread           3           2       12 - 8 oz jars      25.00           120             0            25         False
3           7   Uncle Bob's Organic Dried Pears           3           7      12 - 1 lb pkgs.      30.00            15             0            10         False
4          11                    Queso Cabrales           5           4            1 kg pkg.      21.00            22            30            30         False
5          14                              Tofu           6           7     40 - 100 g pkgs.      23.25            35             0             0         False
6          22               Gustaf's Knäckebröd           9           5     24 - 500 g pkgs.      21.00           104             0            25         False
7          30             Nord-Ost Matjeshering          13           8   10 - 200 g glasses      25.89            10             0            15         False
8          37                        Gravad lax          17           8     12 - 500 g pkgs.      26.00            11            50            25         False
9          49                          Maxilaku          23           3      24 - 50 g pkgs.      20.00            10            60            15         False
10         55                      Pâté chinois          25           6    24 boxes x 2 pies      24.00           115             0            20         False
11         61                    Sirop d'érable          29           2  24 - 500 ml bottles      28.50           113             0            25         False
12         65  Louisiana Fiery Hot Pepper Sauce           2           2    32 - 8 oz bottles      21.05            76             0             0         False
13         71                       Flotemysost          15           4     10 - 500 g pkgs.      21.50            26             0             0         False


-------------------
UnitPrice >= 20 AND UnitPrice <= 30
    ProductID                       ProductName  SupplierID  CategoryID      QuantityPerUnit  UnitPrice  UnitsInStock  UnitsOnOrder  ReorderLevel  Discontinued
0           4      Chef Anton's Cajun Seasoning           2           2       48 - 6 oz jars      22.00            53             0             0         False
1           5            Chef Anton's Gumbo Mix           2           2             36 boxes      21.35             0             0             0          True
2           6      Grandma's Boysenberry Spread           3           2       12 - 8 oz jars      25.00           120             0            25         False
3           7   Uncle Bob's Organic Dried Pears           3           7      12 - 1 lb pkgs.      30.00            15             0            10         False
4          11                    Queso Cabrales           5           4            1 kg pkg.      21.00            22            30            30         False
5          14                              Tofu           6           7     40 - 100 g pkgs.      23.25            35             0             0         False
6          22               Gustaf's Knäckebröd           9           5     24 - 500 g pkgs.      21.00           104             0            25         False
7          30             Nord-Ost Matjeshering          13           8   10 - 200 g glasses      25.89            10             0            15         False
8          37                        Gravad lax          17           8     12 - 500 g pkgs.      26.00            11            50            25         False
9          49                          Maxilaku          23           3      24 - 50 g pkgs.      20.00            10            60            15         False
10         55                      Pâté chinois          25           6    24 boxes x 2 pies      24.00           115             0            20         False
11         61                    Sirop d'érable          29           2  24 - 500 ml bottles      28.50           113             0            25         False
12         65  Louisiana Fiery Hot Pepper Sauce           2           2    32 - 8 oz bottles      21.05            76             0             0         False
13         71                       Flotemysost          15           4     10 - 500 g pkgs.      21.50            26             0             0         False

C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\2927208819.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""
C:\Users\ysy\AppData\Local\Temp\ipykernel_9764\2927208819.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""